.MainContainer {
  background: linear-gradient(48deg, rgb(34, 36, 37) 0%, rgb(33, 34, 34) 46%, rgb(36, 37, 37) 52%, rgb(36, 36, 37) 100%);
  background-size: 400% 400%;
  animation: gradientAnimation 14s ease infinite;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Sequel100Black";
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.ContentContainer {
  height: calc(100% - 60px);
  width: calc(100% - 60px);
}

.TopRow {
  height: 16%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Title {
  font-weight: bold;
  font-size: 150px;
  letter-spacing: 16.9px;
  padding-bottom: 50px;
}

.MiddleRow {
  height: 54%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.Button:hover {
  background-color: #fff;
  color: #000;
}

.ShowcaseVideo {
  width: 100%;
  height: 100%;
}

.ShowcaseButtons {
  height: 40px;
  width: 100%;
}

.BottomRow {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.MediaContainer {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
}

.DiscordButton {
  width: 200px;
  height: 45px;
  font-size: 16px;
  margin-bottom: 20px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  border: 2px solid #7289da;
  color: #7289da;
  transition: all 0.3s ease;
  font-family: "Sequel100Black";
  border-radius: 15px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1), 6px 6px 12px rgba(0, 0, 0, 0.7);
}

.DiscordButton:hover {
  scale: 1.05;
  background-color: #7289da;
  border: 2px solid #7289da;
  color: #fff;
}

.ContactContainer {
  width: 500px;
  height: 200px;
  border-radius: 15px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1), 6px 6px 12px rgba(0, 0, 0, 0.7);
  background-color: #272727;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.InformationContainer {
  width: 400px;
  height: 200px;
  border-radius: 15px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  text-align: end;
  margin-top: 20px;
}

.ContactButton {
  width: 60%;
  height: 50px;
  font-size: 16px;
  margin-top: 20px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  border: 2px solid #fff;
  color: #fff;
  transition: all 0.3s ease;
  font-family: "Sequel100Black";
  border-radius: 15px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1), 6px 6px 12px rgba(0, 0, 0, 0.7);
}

.ContactButton:hover {
  scale: 1.05;
  background-color: #fff;
  border: 2px solid #272727;
  color: #272727;
}

.KiddoLogoImg {
  width: 80px;
  height: auto;
  border: 2px solid #000;
  border-radius: 15px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1), 6px 6px 12px rgba(0, 0, 0, 0.7);
  transition: 0.15s;
  cursor: pointer;
}

.KiddoLogo:hover {
  scale: 1.02;
}