.MainContainer {
  background-color: #3498db;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Sequel100Black";
}

/* Content container with padding and no overflow */
.ContentContainer {
  background-color: #e74c3c;
  height: calc(100% - 60px);
  width: calc(100% - 60px);
  overflow: hidden;
}

.TopRow {
  background-color: #356ddf;
  height: 33.3333%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Title {
  font-weight: bold;
  font-size: 150px;
  letter-spacing: 15px;
  text-shadow: #000 0px 10px 1px;
}

.MiddleRow {
  background-color: #6499c5;
  height: 33.3333%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Showcase {
  width: 550px;
  height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: red;
}

.ShowcaseHeader {
  height: 30px;
  width: 100%;
  background-color: blue;
}

.ShowcaseImage {
  height: 310px;
  width: 100%;
  border: 3px solid #fff;
}

.ShowcaseButtons {
  height: 30px;
  width: 100%;
}

.BottomRow {
  background-color: #9264db;
  height: 33.3333%;
  width: 100%;
}