.Showcase {
    width: 550px;
    height: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ShowcaseHeader {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.ShowcaseContent {
    height: 350px;
    width: calc(100% - 6px);
    border-radius: 15px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1), 6px 6px 12px rgba(0, 0, 0, 0.7);
    white-space: pre-line;
}

.ShowcaseImage {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.ShowcaseVideo {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: 0.3s;
}

.ShowcaseVideo:hover {
    scale: 1.1;
}

.ShowcaseButton {
    width: 10%;
    height: 100%;
    width: 50px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    background-color: #272727;
    transition: 0.3s;
}

.ShowcaseButton:hover {
    background-color: #303030;
}

.ShowcaseButtons {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.CheckOutButton {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272727;
    transition: all 0.3s ease;
}

.InfoButton:hover {
    background: linear-gradient(45deg, #1b1b1b, #18171a);
    font-size: 17px;
}

.InfoButton {
    cursor: pointer;
    width: calc(20% - 2px);
    height: 100%;
    border-left: 2px solid #fff;
    background-color: rgb(0, 0, 0);
}

.InfoButtonDisabled {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(20% - 2px);
    height: 100%;
    border-left: 2px solid #666666;
    color: #666666;
    background-color: rgb(0, 0, 0);
    font-size: 15px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.0s;
}

@keyframes fade {
    from {
        opacity: .2
    }

    to {
        opacity: 1
    }
}