.Showcase {
    width: 550px;
    height: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ShowcaseHeader {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.ShowcaseContent {
    height: 350px;
    width: calc(100% - 6px);
    border-radius: 15px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1), 6px 6px 12px rgba(0, 0, 0, 0.7);
}

.ShowcaseImage {
    width: 100%;
    height: 310px;
}

.ShowcaseButtonLeft {
    height: 50px;
    width: 50px;
    cursor: pointer;
    background-color: red;
    position: absolute;
}

.ShowcaseButtonRight {
    height: 50px;
    width: 50px;
    cursor: pointer;
    background-color: red;
    position: absolute;
    margin-left: 500px;
}

.ShowcaseButtons {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.InfoButton,
.CheckOutButton {
    width: 80%;
    height: 100%;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    transition: all 0.3s ease;
}

.InfoButton:hover,
.CheckOutButton:hover {
    background: linear-gradient(45deg, #1b1b1b, #18171a);
    font-size: 17px;
}

.InfoButton {
    width: calc(20% - 2px);
    height: 100%;
    border-left: 2px solid #fff;
    background-color: rgb(0, 0, 0);
}